@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
      }



/*(encabezado)*/
#logoSolem{
    width: 400px;
    height: 100px;
       }


.todos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;  
      }

      /*(NAVEGACION)*/
      
#listas{
    
     left: 220px;
     width: 700px;
     font-family: Averia Libre;
     
      }

ul{
    list-style: none;
    
     }

li{
    display: inline-block;
    padding: 40px 40px;
    font-size: x-large;
 
    }

a{
    text-decoration: none;
    color: black;
    font-family: Averia Libre;
}


#hovernav:hover{
    text-decoration: underline;
    rotate: 3deg;
}

/*(fotoSection)*/    
.fotoHome{
    height: 90%;
    width: 75vw;
    margin-bottom: 15px;
    margin-top: 10px;
  }

.imagen_index{
    display: flex;
    justify-content: center;
}
.padreFoto{
    display: flex;
    justify-content: center;
}  


/*(foooter)*/
.pie{
    grid-area: footer;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100vw;
    background-image: url(../assets/images/textura_footer.webp);
}     


H1{
    font-size: large;
    padding-top: 30px;
    font-family: Averia Libre;
    text-align: center;
}

#insta{
    width: 55px;
    height: 55px;
}            

.logosSocial{
    height: 50px;
    width: 50px;
            }

   
#sectionMedia{
    display: flex;
    flex-direction: column;
    margin: 30px;
     }  

.videoRESP{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
 }

.videoRESP iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

} 

#tituloMedia{
    margin:15px;
}

.tamano_foto{
    width: 200px;
    height: 200px;
    }

#titulosnav{
    margin-left: 217px;
    margin-bottom: 30px;
}    

.letraTitulos{
    font-family: Averia Libre;
    font-size: xx-large;
}       
  
.imgEntrev{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display:inline-block;
}

/*(Noticias CARDS)*/

#noticias_card{
    display: grid;
    grid-template-areas:
     "link1"
     "link2"
     "link3"
     "link4";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
}

.link1{
    grid-area: link1;
}
.link2{
    grid-area: link2;
}
.link3{
    grid-area: link3;
}
.link4{
    grid-area: link4;
}

@media(min-width: 800px){
    #noticias_card{
        grid-template-areas:
         "link1 link2"
         "link3 link4";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
        margin-bottom: 50px;
    }
}

@media(min-width: 1000px){
    #noticias_card{
        grid-template-areas:
         "link1 link2 link3 link4";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr; 
        margin-bottom: 100px;
        margin-top: 50px;
    }
}

#tituloNoticias{
    display:flex;
    justify-content: center;
   }

.tamano_foto:hover{
    filter: contrast(50%)
}
/*(EP)*/

.div_Fotos_Ep{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px;
}

@media(min-width: 800px){
    .div_Fotos_Ep{
        flex-direction: row;
    }
}

.fotos_Ep{
    width: 450px;
}
.fotos_Ep:hover{
    filter: blur(5px);
}

.Titulos_EP{
    display: flex;
    flex-direction: column;
    font-family: Averia Libre
}

#encabezado_texto_ep{
    text-align: center;
}

/*(Integrantes)*/

.fotos_integrantes{
    width: 250px;
}
#cotofoto{
    height: 384px;
}

.cont_grid{
    display: grid;
    justify-items: center;
    grid-template-areas: 
     "leo"
     "charly"
     "diego"
     "coto";
     grid-template-columns: 1fr;
     grid-template-rows: auto auto auto auto;
     margin-top: 20px;
     margin-bottom: 20px;
}

.Cards_integrantes{
    margin-top: 15px;
    margin-bottom: 15px;
}
#leo{
    grid-area: leo;
}
#charly{
    grid-area: charly;
}
#diego{
    grid-area: diego;
}
#coto{
    grid-area: coto;
}
.titulos_integ{
    display: flex;
    flex-direction: column;
    font-family: Averia Libre;
    align-items: center;
}
@media(min-width: 800px){
    .cont_grid{
        grid-template-areas: 
         "leo charly"
         "diego coto";
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr;
    }
   }

@media(min-width: 1000px){
    .cont_grid{
        grid-template-areas: 
         "leo charly diego coto";
         grid-template-columns: 1fr 1fr 1fr 1fr;
         grid-template-rows: 1fr;
    }
}