footer{
    .pie{
        grid-area: footer;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: auto;
        background-image: url(../assets/images/textura_footer.webp);
    }     
    .sociales{
        display:flex;
        justify-content: space-evenly;
        width: 25vw;
    }
    
    .sociales a i{
        transition: transform 0.5s;
    }
    .sociales a i:hover{
        transform: scale(1.5);
        text-shadow: 10px 4px 10px white;
    }
    
    #hovernav:hover{
        text-decoration: underline;
        rotate: 3deg;
    }
    i{
        color: black;
    }

}