footer{
    .pie{
        grid-area: footer;
        @include flex-direccion(column);
        align-items: center;
        justify-content: center;
        height: 200px;
        width: auto;
        background-image: url(../assets/images/textura_footer.webp);
    }     
    .sociales{
        @include flex-direccion(row);
        justify-content: space-evenly;
        width: 25vw;
    }
    .sociales a i{
        transition: transform 0.5s;
        color: black;
        &:hover{
           transform: scale(1.5);
           text-shadow: 10px 4px 10px white;
             }
    
       }
}