@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
      }

header { 
    #logoSolem{
        width: 80px;
        height: 30px;
        
           } 
           @media(min-width: 300px){
             #logoSolem{
                width: 150px;
                height: 50px;
                   } 
                 } 
            @media(min-width: 500px){
               #logoSolem{
                 width: 250px;
                 height: 80px;
                        } 
                  }
            @media(min-width: 700px){
               #logoSolem{
                 width: 300px;
                 height: 90px;
                      } 
                    }
            @media(min-width: 1000px){
                #logoSolem{
                  width: 330px;
                  height: 100px;
                         } 
                      }                           

        ul{
            list-style: none;
            
             }
        
        li{
            display: inline-block;
            padding: 40px 40px;
            font-size: x-large;

            a:hover{
                text-decoration: underline;
                rotate: 3deg;}
            }
         
                          
        a{
            text-decoration: none;
            font-family: $fontfamily;
            color: black;
             }
            }     


  
        