$ancho: 100%;
$alto: 100%;
$colorFormularioA: lightseagreen;
$colorFormularioB: lightcyan;
$sombra: 0px 1px 10px rgba(0,0,0,0.2);
$sombrahover: 5px 5px 20px rgba(0,0,0,0.6);
$fontfamily: Averia Libre;
