.cont_fotoContacto{
    @include flex-direccion(row);
    justify-content: center;
}

.foto_contacto{
    width: 55vw;
    height: 150px;
    border-radius: 10px;
    box-shadow: $sombra;
}
form{
    @include flex-direccion(column);
    align-items: center;
    border-radius: 10px;
    border: solid $colorFormularioA 2px;
    width: 325px;
    background-color: $colorFormularioB;
    padding: 10px;
    margin-bottom: 30px;
    
}
.botones{
    width: $ancho;
    @include flex-direccion(row);
    justify-content: space-evenly;
    font-family: $fontfamily;
}

.tamaño_input{
    width: 300px;
    font-family: $fontfamily;
 }
.flex_contactos{
    @include flex-direccion(column);
    align-items: center;
    margin-bottom: 40px;
    margin-top: 30px;
}
.titulo_contacto{
    font-size: 2em;
}

@media(min-width: 650px){
    .foto_contacto{
        width: 60vw;
        height: 200px;
    }
}
@media(min-width: 900px){
    .foto_contacto{
        width: 60vw;
        height: 250px;
    }
    .flex_contactos{
        @include flex-direccion(row);
        justify-content: space-evenly;
        margin-bottom: 40px;
        margin-top: 30px;
    }
    .mapa_contacto{
        width: 450px;
        height: 300px;
    }
}
@media(min-width: 1000px){
    .foto_contacto{
        width: 70vw;
        height: 360px;
    }
    .mapa_contacto{
        width: 520px;
        height: 370px;
    }
 }