.div_Fotos_Ep{
    @include flex-direccion(column);
    align-items: center;
    justify-content: space-evenly;
    margin: 50px;
}

@media(min-width: 900px){
    .div_Fotos_Ep{
        flex-direction: row;
    }
}

.fotos_Ep{
    width: 450px;
    border-radius: 4px;
    box-shadow: $sombra;
}
.fotos_Ep:hover{
    filter: blur(5px);
}

.Titulos_EP{
    @include flex-direccion(column);
    font-family: $fontfamily;
}

#encabezado_texto_ep{
    text-align: center;
}
