section{
    .fotoHome{
        height: $alto - 10%;
        width: 75vw;
        margin-bottom: 15px;
        margin-top: 10px;
        border-radius: 10px;
        box-shadow: $sombra;
      }
    
    .imagen_index{
        @include flex-direccion(row);
        justify-content: center;
    }
     
}
