.fotos_integrantes{
    width: 250px;
    border-radius: 5px;
    box-shadow: $sombra;
    transition: 40ms ease;
}

.fotos_integrantes:hover{
    box-shadow: $sombrahover;
}


#cotofoto{
    height: 384px;
}

.cont_grid{
    display: grid;
    justify-items: center;
    grid-template-areas: 
     "leo"
     "charly"
     "diego"
     "coto";
     grid-template-columns: 1fr;
     grid-template-rows: auto auto auto auto;
     margin-top: 20px;
     margin-bottom: 20px;
}

.Cards_integrantes{
    margin-top: 15px;
    margin-bottom: 15px;
}

#leo{
    grid-area: leo;
}
#charly{
    grid-area: charly;
}
#diego{
    grid-area: diego;
}
#coto{
    grid-area: coto;
}
.titulos_integ{
    @include flex-direccion(column);
    font-family: $fontfamily;
    align-items: center;
}
@media(min-width: 800px){
    .cont_grid{
        grid-template-areas: 
         "leo charly"
         "diego coto";
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr;
    }
   }

@media(min-width: 1000px){
    .cont_grid{
        grid-template-areas: 
         "leo charly diego coto";
         grid-template-columns: 1fr 1fr 1fr 1fr;
         grid-template-rows: 1fr;
    }
}
