
    .letraTitulos{
        font-family: $fontfamily;
        font-size: 1.5rem;
        @media(min-width: 600px){
            &{
                font-size: 1.7rem;
            }
        }
        @media(min-width: 800px){
            &{
                font-size: 1.8rem;
            }
        }
    }      
    
    
    #noticias_card{
        display: grid;
        grid-template-areas:
        "link1"
        "link2"
        "link3"
        "link4";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr; 
    }
    
    .link1{
        grid-area: link1;
    }
    .link2{
        grid-area: link2;
    }
    .link3{
        grid-area: link3;
    }
    .link4{
        grid-area: link4;
    }
    
    @media(min-width: 800px){
        #noticias_card{
            grid-template-areas:
            "link1 link2"
            "link3 link4";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr; 
            margin-bottom: 50px;
        }
    }
    
    @media(min-width: 1000px){
        #noticias_card{
            grid-template-areas:
             "link1 link2 link3 link4";
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr; 
            margin-bottom: 100px;
            margin-top: 50px;
        }
    }
    #tituloNoticias{
        @include flex-direccion(row);
        justify-content: center;
       }

    
    
    .tamano_foto{
        border-radius: 4px;
        width: 200px;
        height: 200px;

        &:hover{
            filter: contrast(50%)
        }
    }   